asttokens==2.4.1
comm==0.2.2
contourpy==1.0.6
cycler==0.11.0
Cython==3.0.10
debugpy==1.8.1
decorator==5.1.1
dill==0.3.8
executing==2.0.1
fonttools==4.43.0
igraph==0.10.2
imageio==2.33.0
ipykernel==6.29.4
ipython==8.18.1
ipywidgets==8.0.2
jedi==0.19.1
joblib==1.2.0
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
lazy_loader==0.4
leidenalg==0.10.2
llvmlite==0.43.0
matplotlib==3.9.0
matplotlib-inline==0.1.7
mpltern==1.0.4
multiprocess==0.70.16
nest-asyncio==1.6.0
networkx==2.8.8
numpy==2.0.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pathos==0.3.2
pexpect==4.9.0
pillow==11.0
platformdirs==4.2.2
potpourri3d==1.1.0
pox==0.3.4
ppft==1.7.6.8
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-louvain==0.16
pytz==2024.1
pyzmq==26.0.3
scikit-dimension==0.3.4
scikit-image==0.24.0
scikit-learn==1.5.0
scipy>=1.13.1
six==1.16.0
stack-data==0.6.3
texttable==1.6.4
threadpoolctl==3.1.0
tifffile==2022.10.10
tornado==6.4.2
tqdm==4.66.4
traitlets==5.14.3
trimesh==3.16.1
tzdata==2024.1
wcwidth==0.2.13
widgetsnbextension==4.0.3
